.project-container {
  display: flex;
  flex: 0 0 calc(40%);
  align-items: start;
  flex-direction: column;
  min-height: 400px;
  background-color: #0d152a;
  border-radius: 10px;
  overflow: hidden;
}

.project-img-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.project-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

.project-title {
  color: white;
}

.project-description {
  color: #91a2ba;
}

.project-technology {
  color: #91a2ba;
  background-color: #1d293d;
  width: fit-content;
  border-radius: 100px;
  padding: 8px;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-details {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 10px;
}

.project-container:hover .project-img {
  transform: scale(1.1);
}

.project-container:hover {
  transform: none !important;
}

.project-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin: 8px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.179);
}

@media (max-width: 768px) {
  .project-container {
    width: 80%;
    flex: none;
  }
}
