.projects-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.projects-title-description-column {
  display: flex;
  flex-direction: column;
  color: wheat;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.projects-row {
  margin-top: 40px;
}


@media (max-width: 1200px) {
  .projects-row {
    grid-template-columns: 1fr;
  }
}
