.skills {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.skills-title-description-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.skills-row-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.skills-row-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
  margin-top: 40px;
}

@media screen and (max-width: 500px) {
  .skills-description {
    width: 80%;
  }
}
