@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #020719, #10192e);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.section-title {
  color: white;
}

.section-description {
  text-align: center;
  max-width: 90%;
  font-size: 16px;
  color: #91a2ba;
}

.section-style {
  min-height: 50vh;
  scroll-margin-top: 25vh;
}

.container-style {
  outline-style: solid;
  outline-width: 0;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  outline: rgba(128, 128, 128, 0.177) 1px solid;
}

.container-style:hover {
  outline: 1px solid rgba(255, 255, 255, 0.39);
  transform: translateY(-5px);
}

* {
  font-family: "Lexend Deca", sans-serif;
  font-weight: normal;
}

.main-layout {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 100px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

@keyframes arrow-float {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(10px);
  }
}
