.home-section {
  align-items: center;
  flex-direction: column;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 20px;
}

h1 {
  margin: 0;
}
h2 {
  margin: 0;
}

.home-icon {
  background: linear-gradient(to bottom right, #0d6efd, #6f42c1 60%);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  clip-path: circle();
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.description {
  text-align: center;
  max-width: 800px;
  font-weight: 300;
  padding-inline: 8px;
  font-size: 12px;
  color: var(--home-description-color);
}

.buttons-row {
  display: inline-flex;
  gap: 20px;
}

.home-button {
  border-radius: 10px;
  height: 50px;
  width: 150px;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
}

.get-in-touch-button {
  background: linear-gradient(to right, #0d6efd, #6f42c1);
  background-size: 200%;

  transition: all 0.2s ease-in-out;
}

.get-in-touch-button:hover {
  background-position: right center;
  transform: translateY(-5px);
}

.view-projects-button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: grey 1px solid;
  transition: all 0.2s ease-in-out;
}

.view-projects-button:hover {
  background-color: transparent;
  border: grey 1px solid;
  transform: translateY(-5px);
}

.links {
  display: inline-flex;
  gap: 30px;
  translate: 0 20px;
}

.links a {
  color: grey;
  font-size: 30px;
  transition: all 0.2s ease-in-out;
}

.links a:hover {
  color: white;
  transform: scale(1.2) rotate(10deg);
}

.welcome-name {
  background: linear-gradient(135deg, #0d6efd, #6f42c1 60%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow-down {
  position: absolute;
  color: white;
  font-size: 40px;
  bottom: 3vh;
  animation: arrow-float 1s ease-in-out infinite alternate;
  cursor: pointer;
}

.glow {
  position: absolute;
  width: 350px;
  height: 350px;
  filter: blur(120px);
  border-radius: 50%;
  opacity: 0.6;
  pointer-events: none;
}

.glow.blue {
  background: #6366f1;
  top: 20%;
  left: 5%;
}

.glow.pink {
  background: #ec4899;
  bottom: 10%;
  right: 5%;
}

.home-icon-pulse {
  position: absolute;
  border-radius: 100%;
  height: 130px;
  width: 130px;
  background: linear-gradient(135deg, #0d6dfd72, #6e42c170 60%);
  animation: pulsing 2s ease-in-out infinite alternate;
}

.home-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 140px;
}

.home-icon {
  height: 140px;
  width: 140px;
  animation: homeIconRotating 3s ease-in-out infinite alternate;
}

@media screen and (max-width: 510px) {
  .description {
    font-size: 10px;
  }

  .home-icon {
    width: 100px;
    height: 100px;
  }
}

@keyframes pulsing {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.3);
  }
}

@keyframes homeIconRotating {
  0% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-20deg);
  }
}
