nav {
  position: fixed;
  inset-inline: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #030719c5;
  border-bottom: #1d293d 1px solid;
  padding-bottom: 0;
  z-index: 1;
  backdrop-filter: blur(5px);
  padding: 8px;
}

nav .logo {
  width: 150px;
  
}

nav .logo .typing-text {  
  font-size: 20px;
  font-weight: 700;
  color: white;
}

nav .nav-links {
  display: flex;
  gap: 20px;
}

nav .nav-links a {
  color: var(--nav-disabled-color);
  transition: all 0.2s;
  font-weight: 400;
  cursor: pointer;
}

nav .nav-links a:hover {
  color: var(--nav-hover-color);
}

nav .nav-links a:current {
  color: var(--nav-active-color);
}

.logo p {
  display: inline-block;
  overflow: hidden; /* hides text */
  border-right: 0.15em solid white;
  white-space: nowrap;
  letter-spacing: 0.15em;
  width: 0;
  animation: typing 5s steps(60, end) infinite,
    blink-caret 0.75s step-end infinite;
}

.toggle-sidebar-button {
  display: none;
}

/* typing + wait */
@keyframes typing {
  0% {
    width: 0;
  }

  60% {
    width: 100%;
  }

  80% {
    width: 100%; /* ⏸️ انتظار ثانية تقريبًا */
  }

  100% {
    width: 0;
  }
}

/* cursor */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@media (max-width: 768px) {
  nav .nav-links {
    justify-content: space-between;
    gap: 10px;
    display: none;
  }

  nav {
    justify-content: space-between;
    padding-inline: 12px;
  }

  .toggle-sidebar-button {
    display: block;
  }

  nav .logo p {
    font-size: 15px;
  }
}
