nav {
  position: fixed;
  inset-inline: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #030719c5;
  border-bottom: #1d293d 1px solid;
  padding-bottom: 0;
  z-index: 1;
  backdrop-filter: blur(5px);
}

nav .logo p {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

nav .nav-links {
  display: flex;
  gap: 20px;
}

nav .nav-links a {
  color: var(--nav-disabled-color);
  transition: all 0.2s;
  font-weight: 400;
  cursor: pointer;
}

nav .nav-links a:hover {
  color: var(--nav-hover-color);
}

nav .nav-links a:current {
  color: var(--nav-active-color);
}

@media screen and (max-width: 560px) {
  nav a {
    font-size: 3vw;
  }
  nav .nav-links {
    gap: 10px;
  }
  nav .logo p {
    font-size: 15px;
  }
}
