.side-bar {
  position: fixed;
  background-color: #0e162a;
  top: -20%;
  width: 100%;
  transition: all 0.2s ease-in-out;
  border-radius: 0px 10px 10px 0px;
}

.side-bar-open {
  left: 0%;
  top: 5%;
}

.close-side-bar-button {
  padding: inherit;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
}

.links-column {
  display: flex;
  flex-direction: column;
}

.side-bar-content {
  padding: 16px;
}
